@font-face{
    font-family: anisha;
    src: url(fonts/anisha.otf);
}
@font-face{
    font-family: gebody;
    src: url(fonts/gebody.ttf);
}
body{
    background-image: url(images/space.jpg);
    background-color: #4ad4ef;
    background-size: 100%; 
    background-attachment: fixed; 
}
h1, #title {
    font-family: "anisha", sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
}
#greetings {
    font-family: "gebody";
    font-size: 100px;
    text-align: center;
    color: white;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
#nav li{
    float: left
}
#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover {
    background-color: #111;
}
#nav li a:active{
    background-color: transparent;
}
#me {
    border:solid white 5px;
    margin: 10px;
    padding: 15px;
}
#sm a:hover {
    background-color: transparent;
}
#sm {
    text-align: center;
    color: white;
}
#insta, #snap{
    width: 40%;
    display: inline-block;
}
h2{
    color: white;
    text-align: center;
}
a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
a:link #imagelink {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
#pbody {
    background-image: url(images/cblossoms.jpg);
}
#alist {
    width: 500px;
    margin: auto;
    font-size: 20px;
    color: white;
}
#fsize {
    font-size: 50px;
    font-weight: bold;
}
#webpages {
    font-size: 25px;
    width: 250px;
    margin: auto;
}
#pme {
    font-size: 20px;
}
#quote {
    font-size: 30px;
    color: gray;
    font-weight: bold;
}
#name {
    font-family: "gebody";
}
#tsize {
    font-size: 20px;
    color: white;
}
#column {
    column-count: 2;
    column-gap: 10px;
    column-rule: solid 1px white;
}
#workc {
    column-count: 3;
    column-gap: 10px;
    column-rule: solid 1px white;
}
#contact {
    width: 100%;
    line-height: 44px;
    text-align: center;
    background-color: transparent;
    color: white;
    position: right;
    left: 0;
    bottom: right;
}